name: Create patch branch for old release

on:
  workflow_dispatch: # checkov:skip=CKV_GHA_7
    inputs:
      release_tag:
        description: The release tag you want to patch
        required: true
        type: string

permissions:
  contents: write

jobs:
  create-patch-branch:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Validate release tag
        run: |
          git fetch --tags
          if ! git tag -l "${{ inputs.release_tag }}"; then
            echo "Release tag ${{ inputs.release_tag }} does not exist"
            exit 1
          fi

      - name: Bump patch version
        id: bump-semver
        uses: actions-ecosystem/action-bump-semver@34e334551143a5301f38c830e44a22273c6ff5c5 # v1.0.0
        with:
          current_version: ${{ inputs.release_tag }}
          level: patch

      - name: Create patch branch
        run: |
          git checkout $release-tag
          git checkout -b release/${{ steps.bump-semver.outputs.new_version }}
          git push --set-upstream origin release/${{ steps.bump-semver.outputs.new_version }}
