name: Release iOS UX Helper

on:
  push:
    branches:
      - main
    paths:
      - VERSION

permissions:
  contents: write

jobs:
  build-and-release:
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Get current version
        id: version-file
        run: |
          version_from_file=$(head -n 1 VERSION)
          echo "release-version=$version_from_file" >> $GITHUB_OUTPUT

      - name: Resolve Packages
        run: swift package resolve --verbose

      - name: Install xcbeautify
        run: |
          brew list xcbeautify || brew install xcbeautify

      - name: Run unit tests
        uses: ./.github/composite_actions/run_xcodebuild_tests
        with:
          codecov-token: ${{ secrets.CODECOV_TOKEN }}

      - uses: ffurrer2/extract-release-notes@202313ec7461b6b9e401996714484690ab1ae105 # v3.0.0
        id: extract-release-notes
        with:
          changelog_file: CHANGELOG.md

      - name: Changelog
        run: echo "${{ steps.extract-release-notes.outputs.release_notes }}"

      - name: Create Github release
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1.20.0
        with:
          makeLatest: true
          tag: ${{ steps.version-file.outputs.release-version }}
          body: |
            ## Release notes:
            ${{ steps.extract-release-notes.outputs.release_notes }}
